<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de Cita Médica</title>
</head>
<body style="font-family: Arial; max-width:650px; margin:auto;">

    <h2 style="text-align:center;">Solicitud de Cita Médica</h2>

    <p>
        Estimados señores <strong>{{ipsAtencion}}</strong>, por medio de la presente se solicita la programación de una cita médica de la especialidad <strong>{{servicio}}</strong> para el paciente identificado con los siguientes datos:
    </p>

    {{datosPaciente}}

    <br>

    <p>
        Agradecemos su colaboración con la programación de la cita en la mayor brevedad posible.
    </p>

</body>
</html>